<section class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4 card">
      <div>
        <h3 class="card-title">Crise faz crescer diferença salarial por anos.</h3>
      </div>
        <figure class="figure">
          <img [src]="primeiraNoticia" class="figure-img img-fluid" alt="Primeira Notícia.">
          <figcaption class="figure-caption"></figcaption>
        </figure>
      
    </div>
    <div class="col-sm-12 col-md-4 card">
      <div>
          <h3>Vandalismo indice de violência cresce nas cidades.</h3>
      </div>
      <figure class="figure">
        <img [src]="vandalismoNoticia" class="figure-img img-fluid" alt="Primeira Notícia.">
        <figcaption class="figure-caption"></figcaption>
      </figure>
    </div>
    <div class="col-sm-12 col-md-4 card">
      <div>
          <h3>Acidentes em BRs almentaram após virada de ano.</h3>
      </div>
      <figure class="figure">
        <img [src]="acidentesNoticia" class="figure-img img-fluid" alt="Primeira Notícia.">
        <figcaption class="figure-caption"></figcaption>
      </figure>
    </div>
    <div class="col-sm-12 col-md-4 card">
      <div>
          <h3>Estudiosos analisa maneiras de transformar lixos em energia alternativa.</h3>
      </div>
      <figure class="figure">
        <img [src]="ferroVelhoNocicia" class="figure-img img-fluid" alt="Primeira Notícia.">
        <figcaption class="figure-caption"></figcaption>
      </figure>
    </div>
    <div class="col-sm-12 col-md-4 card">
      <div>
        <h3>Nova era Brasil e Israel fortalece relacionamentos com novo governo.</h3>
      </div>
      <figure class="figure">
        <img [src]="israelNocicia" class="figure-img img-fluid" alt="Primeira Notícia.">
        <figcaption class="figure-caption"></figcaption>
      </figure>          
    </div>
      <div class="col-sm-12 col-md-4 card">
        <div>
            <h3>Crise faz crescer diferença salarial por anos.</h3>
        </div>
        <figure class="figure">
          <img [src]="primeiraNoticia" class="figure-img img-fluid" alt="Primeira Notícia.">
          <figcaption class="figure-caption"></figcaption>
        </figure>
      </div>

  </div>
</section>
