/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: opensans;
    src: url(assets/fonts/Open_Sans/OpenSans-Regular.ttf) format("opentype");
}
@font-face {
    font-family: opensansbold;
    src: url(assets/fonts/Open_Sans/OpenSans-Bold.ttf) format("opentype");
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'opensans', 'arial', sans-serif;
  }
